{#

{% include '@includes/recapiti.html.twig' with {
  legend: 'Recapiti',
  form_recapiti: form.recapiti,
  intro: 'html'
} %}

#}

{%- set std_intro -%}
  <p class="small">I recapiti contrassegnati come “principali” vengono utilizzati come riferimento
  per tutte le operazioni automatiche eseguite dalla piattaforma (ad esempio, le circolari
  vengono inviate solo all'email principale). Può esistere un solo recapito principale per ogni tipologia.</p>
{%- endset -%}

{% set intro = intro is defined? intro : std_intro %}

<fieldset class="sf-macro-wrapper sf-macro-show-label-down-xs fset_recapiti">
  <legend>{{ legend|default('Recapiti') }}</legend>

  {{ intro|raw }}

  {% macro recapiti(row, globals) %}
    {# {% set __valore_campo__ = row.vars.value.__field__ %} #}
    <div class="sf-macro-riga">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          {{ form_row(row.tipo, {
            label: "Tipo",
            attr: {class: 'rec-tipo'}
          }) }}
        </div>
        <div class="col-sm-4 col-md-4">
          {{ form_row(row.recapito, {
            label: "Recapito",
            attr: {class: 'rec-recapito'}
          }) }}
        </div>
        <div class="col-sm-3">
          {{ form_row(row.note, {
            label: "Note",
            attr: {}
          }) }}
        </div>

        <div class="col-sm-2 col-md-1">
          {{ form_row(row.principale, {
            label: 'Princ.',
            attr: {title: 'Recapito principale della tipologia indicata', class: 'rec-princ'},
            params: {
              top_label: true
            }
          }) }}
        </div>

      </div> {# end .row #}
    </div> {# end .riga-macro #}
  {% endmacro %}
  {% import _self as m %}

  <div class="my-3 sf-macro-container" data-template="{{
    m.recapiti(form_recapiti.vars.prototype, _context)|e('html_attr')
  }}">
    {% for row in form_recapiti %}
      {{ m.recapiti(row, _context) }}
    {% endfor %}
  </div>

  <div class="form-group mt-3 text-right">
    <button type="button" class="btn btn-outline-secondary sf-macro-riga-add">Aggiungi recapito</button>
  </div>
</fieldset>
