{% set pagID = 'utenti_scheda' %}
{% set controller = pagID %}
{% set is_profilo = app.request.get('_route') == 'admin_profilo' %}
{% extends 'backoffice/_backoffice-tpl.html.twig' %}
{% block title %}
  {%- if is_profilo -%}
    Profilo personale
  {%- elseif entity.id -%}
    Utente backoffice {{ entity.nome }} {{ entity.cognome }}
  {%- else -%}
    Nuovo utente backoffice
  {%- endif -%}
{% endblock %}
{% block head %}{% endblock %}
{% block jsfiles_start %}{% endblock %}
{% block jsfiles %}{% endblock %}

{# #}

{% block body %}
  <h1>{{- block('title') -}}</h1>

  {%- if not is_profilo -%}
    <p class="text-right d-print-none">
      <a href="{{ path('admin_utenti_elenco') }}">Torna all'elenco</a>
    </p>
  {%- endif -%}

  {{ form_start(form, {attr: {id: 'form_utente'}}) }}
  {{ form_errors(form) }}
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        {{ form_row(form.nome, {
          id: 'nome',
          label: "Nome",
          attr: {}
        }) }}
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        {{ form_row(form.cognome, {
          id: 'cognome',
          label: "Cognome",
          attr: {}
        }) }}
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        {%- if entity.id -%}
          <div class="form-group">
            <label>Email</label>
            <div title="{{ entity.email }}" class="text-truncate">{{ entity.email }}</div>
          </div>
        {%- else -%}
          {{ form_row(form.email, {
          id: 'email',
          label: "Email",
          attr: {},
          help: "L'indirizzo email è utilizzato per l'accesso all'area riservata " ~
            "e non potrà essere modificato dopo la registrazione"
        }) }}
        {%- endif -%}
      </div>
    </div>


    {% include '@includes/file_uploader.html.twig' with {
      data: {
        uploader_legend: true,
        uploader_legend_text: 'Foto',

        filetype: 'img',
        max_filesize: '4MB',
        img_min_w: 900,
        img_min_h: 900
      },

      values: entity.fileFoto? [entity.fileFoto] : null
    } %}

    <fieldset>
      <legend>Impostazioni utente (solo amministratori)</legend>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
          {{ form_row(form.ruolo, {
            id: 'ruolo',
            label: "Privilegi d'accesso",
            attr: {},
            help: "Determina quali sezioni del back-office sono accessibili all'utente"
          }) }}
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          {{ form_row(form.attivato, {
            id: 'attivato',
            label: "Attivato",
            attr: {},
            params: {
              top_label: true
            },
            help: "Solo gli utenti attivati possono accedere al back-office"
          }) }}
        </>
      </div>

      {%- if not is_profilo -%}
        <hr>
        <p>
          L'assegnazione di una nuova password temporanea disattiva quella eventualmente già attiva.
          La nuova password viene inviata automaticamente tramite email all'utente.
        </p>
      {%- endif -%}

      <div class="row">
        <div class="col-md-8 col-lg-6">

          {%- set input_group_button -%}
            {% if is_profilo %}
              <button class="btn btn-secondary btn-has-icon show-pwd" type="button">
                {% include '@includes/icone.html.twig' with { id: 'occhiali', class: 'icona' } %}
              </button>
            {% else %}
              <button class="btn btn-secondary genera_pwd" type="button">
                Genera pwd temporanea
              </button>
            {% endif %}
          {%- endset -%}

          {# https://massimo-cassandro.github.io/symfony-bootstrap-form-theme/form-test.html#input_groups #}
          {{ form_row(form.plainPassword, {
            id: 'plainPassword',
            label: is_profilo? 'Cambia la password' : 'Nuova password',
            required: not entity.id or (is_profilo and app.user.pwdTemp|default()),
            type: is_profilo? 'password' : 'text',
            help: "8-20 caratteri, senza spazi, vocali accentate, ecc.",
            attr: {
              minlength: 8,
              maxlength: 20,
              pattern: '[a-zA-Z0-9_\!\$\%\&\-\\\/]*',
              class: 'text-monospace',
              autocomplete: 'new-password'
            },
            params: {
              after: [{
                type: 'markup',
                content: input_group_button
              }]
            }
          }) }}

        </div>
      </div>
    </fieldset>

    {% include '@includes/form_end.html.twig' %}

  {{ form_widget(form._token) }}
  {{ form_end(form, {'render_rest': false}) }}

  {%- if not is_profilo -%}
    <p class="text-right d-print-none">
      <a href="{{ path('admin_utenti_elenco') }}">Torna all'elenco</a>
    </p>
  {%- endif -%}

{% endblock body %}
{% block last_content %}{% endblock last_content %}
