{#
tag meta e opengraph (i valori indicati sono quelli di default)

{%- include '@includes/meta.html.twig' with {
  robots: true,

  title: contenuti.meta.XXXX_title,
  descr: contenuti.meta.XXXX_description ,
  og_title: contenuti.meta.XXXX_og_title | contenuti.meta.XXXX_title,
  og_description: contenuti.meta.XXXX_og_description | contenuti.meta.XXXX_description | null,

  og_img: null | {   <== img statica se presente prevale su viewer_og_img
    src: null <== url assoluto
    w: xxx
    h: xxx
  },

  viewer_og_img: contenuti.meta.XXXX_og_img | null,
  viewer: path('inner_viewer')
} -%}
#}
{% set robots = robots is defined? robots : true %}
{% set viewer = viewer is defined? viewer : path('inner_viewer') %}

<title>
  {{ title }}
  {{- pagID != 'home'? ' | Esports Academy' : '' -}}
  {{- app.environment != 'prod'? ' [TEST]' : '' -}}
</title>

{%- if contenuti.globali.og_site_name|default() -%}
  <meta property="og:site_name" content="{{ contenuti.globali.og_site_name }}">
{%- endif -%}

<meta property="og:url" content="{{ app.request.uri }}">
<meta property="og:type" content="website">
{%- if title|default() or og_title|default() -%}
  <meta property="og:title" content="{{ og_title|default()? og_title : title }}">
{%- endif -%}
{%- if descr|default() -%}
  <meta name="description" content="{{ descr }}">
{%- endif -%}
{%- if descr|default() or og_description|default() -%}
  <meta property="og:description" content="{{ og_description|default()? og_description : descr }}">
{%- endif -%}

{%- if og_img is defined and og_img.src|default() -%}
  <meta property="og:image" content="{{ og_img.src }}">
  {%- if og_img.w|default() -%}
    <meta property="og:image:width" content="{{ og_img.w }}">
  {%- endif -%}
  {%- if og_img.h|default() -%}
    <meta property="og:image:height" content="{{ og_img.h }}">
  {%- endif -%}
{%- elseif viewer_og_img|default() and viewer_og_img.desktop_img|default() -%}
  <meta property="og:image" content="{{ absolute_url(viewer ~ '/' ~ viewer_og_img.desktop_img.id) }}">
  <meta property="og:image:width" content="{{ viewer_og_img.desktop_img.width }}">
  <meta property="og:image:height" content="{{ viewer_og_img.desktop_img.height }}">
{%- else -%}
  <meta property="og:image" content="{{ absolute_url(asset('/assets/og/esa_og.png')) }}">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="1200">
{%- endif -%}

{%- if app.environment == 'prod' and robots -%}
  <meta name="robots" content="index,follow">
{%- else -%}
  <meta name="robots" content="noindex,nofollow">
{%- endif -%}
